@using Microsoft.AspNetCore.Identity
@using LearnPractice.Areas.Identity.Data

@inject SignInManager<LearnPracticeUser> SignInManager
@inject UserManager<LearnPracticeUser> UserManager

<style>
    #register {
        margin-top: -20px;
    }

    #login {
        margin-left: 30px;
    }




    #Hello {
        margin-top: -20px;
    }

    #logoutForm {
        margin-left: 400px;
        text-align: right;
        margin-top: -40px;
    }



    a {
        font-size: 18px;
        font-family: "Bebas Neue";
        font-weight: bold;

    }

    p {
        font-family: "PT Sans";
        font-size: 18px;
        font-weight: normal;
        padding: 10px;
    }

    span{
        color:white;
    }

    #logout{
        color:white;
        font-family: "Bebas Neue";
    }
</style>
@if (SignInManager.IsSignedIn(User))
{

    <span> <a id="Hello" class="nav-link text-dark" asp-controller="UserPanel" asp-action="Index" title="UserPanel">Привет @UserManager.GetUserName(User)!</a></span>


    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
        <span><button id="logout" type="submit" class="nav-link btn btn-link text-dark">Выйти</button></span>
    </form>

}
else
{

  <span>  <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Регистрация</a></span>


    <span> <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Войти</a></span>

}

