@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@model List<LearnPractice.Models.Database.Cars>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<style>
    #brd {
        background-color: #162037;
        font-size: 16px;
        color: white;
        font-family: "Segoe UI Black";
        padding: 5px;
    }

    h2 {
        font-size: 20px;
        color: white;
        font-family: "Segoe UI Black";
    }

    #st {
        margin-top: 10px;
        background-color: white;
        height: 10px;
        width: 100%
    }

    #brds {
        width: 30px;
        background-color: white;
    }

</style>


<div class="container-fluid">
    <div class="row">
        <form action="~/UserPanel/CarsCreate">
            <input type="submit" value="Добавить автомобиль" />
        </form>
        <form action="~/UserPanel/LoadCars">
            <input type="submit" value="Добавить автомобиль через файл" />
        </form>
        @foreach (var article in Model)
        {
            <div class="col-3" id="brd">

                <h2><a href="~/Home/Car/@article.Id">@Html.Raw(article.Mark+ " " + article.Model)</a></h2>
                <img width="400" height="400" src="@article.Preview">
                Номер ПТС:@article.IdPts
                <form action="~/UserPanel/DeleteCars/@article.Id">
                    <input type="submit" value="Удалить" />
                </form>

                <form action="~/UserPanel/EditCar/@article.Id">
                    <input type="submit" value="Изменить" />
                </form>

            </div>
            <div class="col-1" id="brds"></div>
        }
    </div>
</div>
