@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@model List<LearnPractice.Models.Database.Cars>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<style>
    #brd {
        background-color: #162037;
        font-size: 16px;
        color: white;
        font-family: "Segoe UI Black";
        padding: 10px;
        width:100%;
        height:100%;
    }

    h2 {
        font-size: 35px;
        color: white;
        font-family: "Segoe UI Black";
    }

    

    #brds {
        width: 30px;
        background-color: white;
        padding:3px;
    }

    img{
        object-fit:contain;
        width:90%;
        height:90%;
    }

    .sum{
        font-size:35px;
    }
    

    

</style>


<div class="container-fluid">
    <div class="row">
        @if (User.IsInRole("Admin"))
        {
             <form action="~/UserPanel/CarsCreate">
                <input type="submit" value="Добавить автомобиль" />
            </form>
        }
        @foreach (var article in Model)
        {

            @if (article.UserId == null)
            {
                <div class="col-5" id="brd">

                    <h2><a href="~/Home/Car/@article.Id">@Html.Raw(article.Mark+ " " + article.Model)</a></h2>
                    <img src="@article.Preview">
                    <p class="sum">Мощность:@article.MilHour л/с</p>
                    <p class="sum">Цена @article.Sum руб</p>
                </div>
            }
            
           
            
            <div class="col-1" id="brds"></div>
        }
    </div>
</div>
